/* Breakpoint for medium viewport */

@include media-breakpoint-down(md) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }
    .navbar-nav li a {
        font-size: 0.97rem;
    }
}