 
<section>
    <div class="text-center opensans-semibold text-uppercase" style="padding:40px 0 0">
        Coming Soon
    </div>
</section>
<!--<section class="reportcard-page celebrity-page">
    <div class="">
        <div class="celebrity-holder">
            <img src="https://storage.cloud.google.com/auction-player/sportsabout.jpg" alt="" class="img-responsive">
        </div>
    </div>
</section>
<section class="reportcard-page celebrity-page">
    <div class="">
        <div class="celebrity-holder">
            <img src="https://storage.cloud.google.com/auction-player/aplabout.jpg" alt="" class="img-responsive">
        </div>
    </div>
</section>
<section class="reportcard-page celebrity-page">
    <div class="">
        <div class="celebrity-holder">
            <img src="https://storage.cloud.google.com/auction-player/ccplabout.jpg" alt="" class="img-responsive">
        </div>
    </div>
</section>-->
