<section ng-if="allPlayers.length>0">
    <div class="bg-team sold-player" ng-style="allPlayers.length<=9?{'height':'100vh'}:{'height':'100%'}">
        <div class="team-head">
            <h1 class="text-center text-uppercase opensans-semibold">Sold Players</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 m-auto">
                    <table class="table table-bordered">
                        <thead>
                            <th>No.</th>
                            <th>Player Name</th>
                            <th>Team</th>
                            <th>Group</th>
                            <th>Sold Price</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="player in allPlayers track by $index">
                                <td>{{$index+1}}</td>
                                <td>{{player.playerName}}</td>
                                <td>{{player.team.name}}</td>
                                <td>{{player.category.name}}</td>
                                <td>{{player.soldValue}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section ng-if="allPlayers.length==0">
    <div class="bg-team sold-player text-center color-white" style="height:100vh">
        <h4 class="opensans-semibold">No Player Found</h4>
    </div>
</section>