<!--
  OLd Domain
  <section class="reportcard-page celebrity-page">
      <div class="">
          <div class="celebrity-holder">
              <img src="img/sponsor.jpg" alt="" class="img-responsive">
          </div>
      </div>
  </section>
-->

<section class="reportcard-page celebrity-page" ng-if="wholePage">
  <div class="">
    <div class="celebrity-holder">
      <img ng-src="{{banner.banner|uploadpath}}" alt="" class="img-responsive">
    </div>
  </div>
</section>

<!--<section class="reportcard-page celebrity-page" ng-if="!wholePage">
  Banner and Sponsors
</section>-->
<section ng-if="!wholePage">
  <div class="text-center opensans-semibold text-uppercase" style="padding:40px 0 0; height:100vh">
    Coming Soon
  </div>
</section>

<!--<section class="reportcard-page celebrity-page" ng-if="adminurl == 'http://www.jypl.in/api/'">
  <div class="">
    <div class="celebrity-holder">
      <img src="img/sponsor.png" alt="" class="img-responsive">
    </div>
  </div>
</section>-->

<!-- Sports Domain -->
<!--<section class="reportcard-page celebrity-page" ng-if="adminurl == 'http://www.sportssponsor.in/api/'">
  <div class="">
    <div class="celebrity-holder">
      <img src="https://storage.cloud.google.com/auction-player/sportssponsor.jpg" alt="" class="img-responsive" />
    </div>
  </div>
</section>-->

<!-- APL Domain -->
<!--<section class="reportcard-page celebrity-page" ng-if="adminurl == 'http://www.aplauction.com/api/'">
  <div class="">
    <div class="celebrity-holder">
      <img src="https://storage.cloud.google.com/auction-player/aplsponsor.jpg" alt="" class="img-responsive" />
    </div>
  </div>
</section>-->

<!-- CCPL Domain -->
<!--<section class="reportcard-page celebrity-page" ng-if="adminurl == 'http://www.ccplauction.com/api/'">
  <div class="">
    <div class="celebrity-holder">
      <img src="https://storage.cloud.google.com/auction-player/ccplsponsor.jpg" alt="" class="img-responsive" />
    </div>
  </div>
</section>-->


<!-- Sports Auction Domain -->
<!--<section class="reportcard-page celebrity-page" ng-if="adminurl == 'http://www.sportsauction.in/api/'">
  <div class="">
    <div class="celebrity-holder">
      <img src="https://storage.cloud.google.com/auction-house/sportsauctionsponsor.jpg" alt="" class="img-responsive" />
    </div>
  </div>
</section>-->


<!--<section>
  <div class="text-center opensans-semibold text-uppercase" style="padding:40px 0 0">
    Coming Soon
  </div>
</section>-->