<!--Banner-->
<section>
  <div class="banners-img" ng-if="banner.banner">
    <img
      ng-src="{{ banner.banner | uploadpath }}"
      alt="{{ banner.name }} Banner"
      class="img-responsive"
    />
  </div>
</section>
<section ng-if="showStats">
  <div class="bg-team sold-player teamstats" style="height:100%">
    <div class="container">
      <div class="row" ng-if="playerList.length>0">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="pull-right">
            <a
              class="btn btn-danger text-uppercase team-btn opensans-semibold"
              ng-click="changeSection('Squad')"
              >Team Squad</a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="team-head">
            <h1 class="text-center text-uppercase opensans-semibold">
              Team Stats
            </h1>
          </div>
        </div>
      </div>
      <div class="row" ng-if="teamDetail.description">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="team-head mb-4 text-justify">
            <div
              class="opensans-regular color-white"
              ng-bind-html="teamDetail.description"
            ></div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="d-flex justify-content-around align-items-center">
          <div class="opensans-semibold color-white bucket-value">
            <div class="">
              <p>Total Points : {{ (teamDetail.purseValue | INR) || 0 }}</p>
            </div>
          </div>
          <div class="opensans-semibold color-white bucket-value">
            <div class="">
             <p>Points Spent :{{ (teamDetail.moneySpent | INR) || 0 }}</p>

<!--               <p>
                Min. Base Points. :
                {{ (teamDetail.minimumBaseValue | INR) || 0 }}
              </p>
              <p>Max Bid Points : {{ (teamDetail.maxBidValue | INR) || 0 }}</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="pull-right opensans-semibold color-white total-count">
            <span>Total Players:</span>
            <span> {{ playerList.length }}/{{ teamDetail.playerCount }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <table class="table table-bordered">
            <thead>
              <th>No.</th>
              <th>Player Name</th>
              <th>Group</th>
              <th>Sold Points</th>
            </thead>
            <tbody>
              <tr ng-repeat="list in playerDetail track by $index">
                <td>{{ $index + 1 }}</td>
                <td>{{ list.playerName || "-" }}</td>
                <td>{{ list.category || "-" }}</td>
                <td ng-if="list.soldValue == 0">
                  -
                </td>
                <td ng-if="list.soldValue !== 0">
                  {{ (list.soldValue | INR) || "-" }}
                </td>
              </tr>
              <!-- <tr ng-repeat="list in teamDetail.categoryValues track by $index">
                <td>{{ $index + 1 }}</td>
                <td>{{ list.player.playerName || "-" }}</td>
                <td>{{ list.player.category.name || "-" }}</td>
                <td ng-if="list.player.soldValue == 0">
                  -
                </td>
                <td ng-if="list.player.soldValue !== 0">
                  {{ (list.player.soldValue | INR) || "-" }}
                </td>
              </tr> -->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td>{{ teamDetail.moneySpent | INR }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section ng-if="showSquad">
  <div
    class="bg-team sold-player livestats teamsquad"
    ng-if="playerList.length>0"
    style="height:100%"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="pull-right">
            <a
              class="btn btn-danger text-uppercase team-btn opensans-semibold"
              ng-click="changeSection('Stats')"
              >Team Stats</a
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="team-head">
            <h1 class="text-center text-uppercase opensans-semibold">
              Team SQuad
            </h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-4" ng-repeat="team in playerList">
          <div class="player-card">
            <div
              class="player-image"
              ng-if="team.playerImage && team.playerImage.charAt(0)=='h'"
            >
              <img
                ng-src="{{ team.playerImage }}"
                alt="{{ team.playerName }}"
                class="img-responsive"
              />
            </div>
            <div
              class="player-image"
              ng-if="team.playerImage && team.playerImage.charAt(0)!='h'"
            >
              <img
                ng-src="{{ team.playerImage | uploadpath }}"
                alt="{{ team.playerName }}"
                class="img-responsive"
              />
            </div>
            <div class="player-image" ng-if="!team.playerImage">
              <img
                src="img/dummy.jpg"
                alt="{{ team.playerName }}"
                class="img-responsive"
              />
            </div>
            <div class="player-info">
              <h4 class="text-capitalize text-center color-white">
                {{ team.playerName }}
                <span ng-if="team.playerAge">({{ team.playerAge }})</span>
              </h4>
            </div>
            <div>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>
                      <h4 class="text-capitalize text-center color-white">
                        {{ team.category.name }}
                      </h4>
                    </td>
                    <td ng-if="team.soldValue == 0">
                      <h4 class="text-capitalize text-center color-white">
                        -
                      </h4>
                    </td>
                    <td ng-if="team.soldValue !== 0">
                      <h4 class="text-capitalize text-center color-white">
                        {{ (team.soldValue | INR) || "-" }}
                      </h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section ng-if="playerList.length==0 && showSquad">
  <div class="bg-team sold-player text-center color-white" style="height:100vh">
    <h4 class="opensans-semibold">No Player Found</h4>
  </div>
</section>
