<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{title}} Category Detail</h2>
            </div>
        </div>
    </div>
</div>

<!-- DETAIL SPECIAL AWARD -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <form name="detailForm" role="form" class="sec">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Player Name</label>
                                    <input type="text" name="playerName" ng-model="formData.playerName" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Player Age</label>
                                    <input type="number" name="playerAge" ng-model="formData.playerAge" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Category</label>
                                    <ui-select name="Category" id="Category" theme="bootstrap" ng-model="formData.category">
                                        <ui-select-match placeholder="Select Category" allow-clear="true">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item._id as item in CategoryList | filter:$select.search" refresh="getCategory($select.search)">
                                            <span>{{item.name}}</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Player Village</label>
                                    <input type="text" name="purse" ng-model="formData.playerVillage" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- Value -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Base Value</label>
                                    <input type="text" name="purse" ng-model="formData.baseValue" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Player Image <span style="color:#ea5249;">(Note:Player Image size should be 300x300 only *)</span></label>
                                    <upload-image ng-model="formData.playerImage"></upload-image>
                                </div>
                            </div>
                        </div>
                        <!-- Value END -->
                        <!-- Team -->
                        <div class="row">
                            <!-- STATUS -->
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label>Is Sold</label>
                                    <input type="checkbox" class="form-control" ng-model="formData.isSold" disabled>
                                </div>
                            </div>
                            <!-- STATUS END -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Team">Team</label>
                                    <ui-select name="Team" id="Team" theme="bootstrap" ng-model="formData.team" disabled="true">
                                        <ui-select-match placeholder="It's disabled" allow-clear="true">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item._id as item in TeamList | filter:$select.search" refresh="getTeam($select.search)">
                                            <span>{{item.name}}</span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <!-- LOGO LINK -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Sold Price</label>
                                    <input type="number" name="link" ng-model="formData.soldValue" class="form-control" placeholder="Enter Name" readonly>
                                </div>
                            </div>
                            <!-- LOGO LINK END -->

                        </div>
                        <!-- Team END -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <input type="text" name="remarks" ng-model="formData.remarks" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveData(formData)" ng-disabled="detailForm.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref='categorydetails'>Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DETAIL SPECIAL AWARD END -->