<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Team Player List</h2>
            </div>
        </div>
    </div>
</div>
<!-- TABLE  -->
<div class=" panel-content ">
    <div class="row ">
        <div class="col-md-12 ">
            <div class="widget ">
                <div class="table-area ">
                    <div class="table-responsive ">
                        <!--<div class="table-responsive " ng-show="totalItems>0 ">-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        Team Name
                                    </th>
                                    <th>
                                        Player Count
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-repeat="item in items">-->
                                <tr ng-repeat="item in items">
                                    <!--<tr>-->
                                    <td>{{($index + 1)}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.playerCount}}</td>
                                    <td>
                                        <a class="btn btn-primary" ng-click="showTable(item.teamId);getTeamDetail(item.teamId)">View Player List</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- PAGINATION -->
                    <div class="tableData " ng-show="items===0 ">
                        <h5>No data found</h5>
                    </div>
                    <!-- PAGINATION END -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TABLE  END -->