<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>{{title}} Category List</h2>
            </div>
        </div>
    </div>
</div>

<!-- DETAIL SPECIAL AWARD -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="form-elements-sec">
                    <form name="detailForm" role="form" class="sec">
                        <!-- AWARDS NAME -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name*</label>
                                    <input type="text" name="categoryName" ng-model="formData.name" class="form-control" placeholder="Enter Category Name" required>
                                    <div class="error-msg" ng-if="detailForm.categoryName.$invalid && detailForm.categoryName.$touched">Please Enter Valid Name *</div>
                                </div>
                            </div>
                        </div>
                        <!-- AWARDS NAME END -->
                        <div class="text-center mt20 odd-even-button">
                            <button class="btn btn-default" type="submit" ng-click="saveData(formData)" ng-disabled="detailForm.$invalid">Save</button>
                            <button class="btn btn-default" ui-sref='categorylist'>Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DETAIL SPECIAL AWARD END -->